h1 {
    color:palevioletred;
    font-family:helvetica;
    border:5px solid powderblue;
    padding:50px;
    }

p{
    color:pink;
    font-family:helvetica;
    }

a{
    color:fuchsia;
    font-family:helvetica;
    }

body{
    background-color:papayawhip;
    }

img{
    border: 5px solid powderblue;
    width:50%;
    height:50%;
    margin-left:25%;
    }